body {
	margin: 15px;
}

.axis path {
	fill: none;
	stroke: #777;
	shape-rendering: crispEdges;
}

.axis text {
    font-family: Lato;
    font-size: 13px;
}

.dot {
  fill: white;  
  stroke-width: 2px;
  cursor: pointer;
}

div.svg-line-chart-tooltip { 
  position: absolute;     
  text-align: center;     
  width: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
  font: 12px sans-serif;    
  background: whitesmoke; 
  border: 0px;
  pointer-events: none;
  opacity: 0;     
}

.label-text {
  text-anchor: middle;
  font-weight: bold;
}